# This is Git's per-user configuration file.
[user]
    name = Jesse Rushlow
    email = jr@rushlow.dev
    signingkey = 79712BB7E139D5AC
[init]
	defaultBranch = main
[commit]
    gpgsign = true
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
[hub]
    protocol = ssh
[rerere]
    enabled = true
    autoUpdate = true
[branch]
    sort = -committerdate
[column]
    ui = auto
[alias]
    fpush = push
#[maintenance]
#        repo = ~/develop/php/forked-reset-password-bundle
#        repo = ~/develop/php/forked-maker-bundle

#[filter "lfs"]
#	clean = git-lfs clean -- %f
#	smudge = git-lfs smudge -- %f
#	process = git-lfs filter-process
#	required = true
#[credential]
#	helper = /usr/local/share/gcm-core/git-credential-manager
#[credential "https://dev.azure.com"]
#	useHttpPath = true
#
